<% content_for :title, "The team" %>


<div class='container-fluid'>
  <hr/>
  
  <div class='container-fluid'>
    <h1 class='text-center text-info'>Here is the wonderful team behind this wonderful website</h1>
  </div>
  <hr/>

  <div class='container-fluid my-5'>
    <div class ='row px-2 justify-content-around'>
      <div class="card col-md-5">
        <img src="https://i.pinimg.com/originals/b7/c6/80/b7c68008dc5208fcb79d12b53b00b488.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-danger">Roger the otter</h3>
          <p class="card-text">My diet consist largely of crayfishes, crabs, and other aquatic invertebrates, fishes, and frogs. I use my vibrissae to detect movements of prey in the water. I catch prey with my teeth. I like houmous too.</p>
        </div>
      </div>

      <div class="card col-md-5">
        <img src="https://i.pinimg.com/originals/72/6d/6b/726d6b20bc9088802d0c662f0c1b632e.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title text-danger">Otto the mosquito</h3>
          <p class="card-text">I like to sting. And to bzzz. And to sting again. And to bzzz...</p>
        </div>
      </div>
    </div>
  </div>


</div>